@model IEnumerable<Dossier>

@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div class="container">

        <div class="row">
            <a asp-controller="Customer" asp-action="Customers" class="btn btn-primary">Create new dossier</a>
        </div>

        @foreach (var dossier in Model)
        {
            <div class="row">
                <div class="col-4">
                    <h3>@dossier.DossierName</h3>
                    <h3>@dossier.DatePlanned</h3>
                </div>
                <div class="col-4">
                    <h3>@dossier.CustomerId</h3>
                    <h3>@dossier.Budget</h3>
                </div>
            </div>
            <hr />
        }
    </div>
</body>