@model IEnumerable<Dossier>

@{
    ViewData["Title"] = "Home Page";
}

@foreach (var dossier in Model)
{


    <div class="card m-3" style="min-width: 18rem; max-width:30.5%">
        <div class="card-header">
            <h3>@dossier.DossierId</h3>
            <h3>@dossier.DossierName</h3>
            <hr />
        </div>
    </div>
}